
.banner {
  margin-top:20px;
}
.banner .img {
  margin-right: 320px;
  height:210px;
}

.contact {
  float: right;width: 300px;
}

.contact table th {
  width: 63px;
  text-align: right;
  padding-right: 3px;
}


.banner2 {
  height: 100px;
}

.friends table th {
  width: 80px;
}
